<table>
	<tbody>
		<tr>
			<td>
				<%=foodimage( "#{@food.url}", "large" ) %>
			</td>
			<td>
				<p class="info"> Name: <%= @food.name%></p>
				<p class="info"> Price:<%= @food.price%></p>
			</td>
		</tr>
	</tbody>
</table>

